<table>

<div id="<%= dom_id student %>">
 
<tr> <th><strong>usn</strong></th><th><strong>name</strong></th><th><strong>gender</strong></th><th><strong>phone number</strong></th> </tr>
<tr><td><%= student.usn%></td>



<td>
<%= student.name %>

</td>
<td>
<%= student.gender %>
</td>


<td>
<%= student.phone_number %>
</td>
</tr>

</div>
</table>