
<table>
<div id="<%= dom_id course %>">

    <tr><th><strong>Course code:</strong></th><th><strong>Course name:</strong></th><th><strong>Cee marks:</strong></th><th><strong>See marks:</strong></th></tr>
    
   <tr><td> <%= course.course_code %>
  </td>

  <td>
    <%= course.course_name %>
</td>
   <td> <%= course.cee_marks %>
</td>
   <td> <%= course.see_marks %>
  </td>
</tr>
</div>
</table>